REACT_APP_THARSIS_API_HOST=localhost
REACT_APP_THARSIS_API_USE_SSL=false
REACT_APP_THARSIS_API_PORT=8000

REACT_APP_OAUTH_PROVIDER_AUTHORITY=https://identityproviderdomain.com
REACT_APP_OAUTH_PROVIDER_CLIENT_ID=client123
REACT_APP_OAUTH_PROVIDER_SCOPE=openid profile email
REACT_APP_OAUTH_PROVIDER_LOGOUT_REDIRECT_URL=https://identityproviderdomain.com
REACT_APP_JWT_SUBJECT_FIELD=sub
